  /*CONTAINER*/
  
  .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin-left: 225px;
    margin-top: 190px;
    line-height: 28px;
    display: flex;
    justify-content: center;
  }