input:not([type="checkbox"]) {
  
    width: 500px;
    padding: 7px;
    margin-bottom: 15px;
    background-color:#D9D9D9;
    border:none;
    border-radius: 10px;
  
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  textarea
  {
    resize: none;
    border:none;
    width: 500px;
    height: 90px;
    border-radius: 10px;
    background-color:#D9D9D9;
  }

  input[type="submit"] {
    margin-top: 10px;
    width: 90px;
    cursor: pointer;
    color: #5C2976;
    background-color: #fff;
    border: 2px solid #5C2976;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 0;
  }
  
  input[type="submit"]:hover {
    background: #5C2976;
    color: #ffffff;
  }
  
  .submits
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*CONTAINER*/
  
  .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 225px;
    height:60%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

h1{
    color: #5C2976;
    margin-bottom: 20px;
  }