* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
}

body {
  background: #ffffff;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*SIDE BAR*/

input:not([type="checkbox"]) {

  width: 250px;
  padding: 7px;
  margin-bottom: 15px;
  background-color:#D9D9D9;
  border:none;
  border-radius: 10px;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

input[type="submit"] {
  width: 90px;
  cursor: pointer;
  color: #5C2976;
  background-color: #fff;
  border: 2px solid #5C2976;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 0;
}

input[type="submit"]:hover {
  background: #5C2976;
  color: #ffffff;
}

.submits
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.editar
{
  margin-right: 70px;
}

.sidebar {
  background: #F1F1F1;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 25px 0;
  transition: all 0.5s ease;
}

.logo {
  margin-bottom: 30px;
  text-align: center;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.sidebar ul li a {
  display: block;
  padding: 13px 40px;
  color: #242424;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  margin: 5%;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  color: #5C2976;
  background: #D9D9D9;
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
  display: block;
}

/*TOP BAR*/

.section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.top_navbar {
  color: #242424;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
}

.dropMenu  ul{
  display:flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F1F1F1;
  width: 180px;
  height: 100px;
  border-radius: 10%;
  margin-top: 35%;
  margin-left: 20%;
}

.dropMenu  a {
  color: #242424;
  font-size: 14px;
  position: relative;
  margin-left: 15px;
  text-decoration: none;
}

.dropMenu a:hover,
.dropMenu a.active {
  color: #5C2976;
  font-weight: 600;
}


.img_perfil {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  /*recortar foto*/
  border-radius: 50%;
  cursor: pointer;
  /*espaço das palavras a foto*/
  transition: .5s;
}

.img_perfil:hover {
  opacity: 0.8;
}



/*CONTAINER*/

.container {
  position: absolute;
  margin-left: 30px;
  padding: 50px;
  line-height: 28px;
}
